// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.


@import "../pages/settings/settings";
@import "../pages/home/home";

//Global Stuff
h2.project_name {
	$color: #555;
	color: $color;
	text-align: center;
	text-transform: capitalize;
	font-size: 11pt;
	padding: 5px 0;
	margin-top: 5px;
	border: 1px solid $color;
	border-right: none;
	border-left: none;
}

.browser {
	.ct-chart {
		max-height: 400px;
		margin: 0 auto;
	}
}