
<ion-content padding class="projects" *ngIf="projects">
	<ion-row [hidden]="projects.length < 2">
		<ion-input type="text" class='project_filter' placeholder='Project Name' #projectNameFilter autofocus></ion-input>
	</ion-row>

	<ion-list>
		<ion-card *ngFor='let project of projects | filterByName:projectNameFilter.value' class='projects' attr.project_id="{{project.id}}" (click)="selectProject($event)">
	  <!-- <img src="http://lorempixel.com/340/221/business"/> -->

	  <ion-card-content>
	  	<div class="project_id" *ngIf='isAdmin'>{{project.id}}</div>
	    <ion-card-title>
	      {{ project.name }}
	    </ion-card-title>

	    <p>
	      The most popular industrial group ever, and largely
	      responsible for bringing the music to a mass audience.
	    </p>
	  </ion-card-content>

	  	<ion-row>
		    <ion-col class='completes'>
		      <button primary clear small>
		        <span [ngClass]='{open: project.percent_complete < 100 && project.percent_complete > 0, closed: project.percent_complete == 0, finished: project.percent_complete >= 100 }' class='indicator'></span>
		        <div>{{ project.percent_complete }}% COMPLETE (N = {{ project.completes }} of {{ project.quota }})</div>
		      </button>
		    </ion-col>
		</ion-row>
		</ion-card>
	</ion-list>
</ion-content>
